{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %}student_registry/add_category.html{% endblock %}
{% block body_block %}
	<!-- ADDING BOOTSTRAP TOOLKIT -->
	<form id="category_form" method="post" action="/student_registry/add_category/">
		<!-- form.hidden_fields/errors are attributes/functions -->
		<!-- The need for hidden as well as visible form fields is necessitated by the fact that HTTP is a stateless protocol. -->
		<h2 class="form-signin-heading">Add a Category</h2>
		{% csrf_token %}
		{{ form|as_bootstrap }}<br/>
		{# for hidden in form.hidden_fields #}
			{# hidden #}
		{# endfor #}
		{# for field in form.visible_fields #}
			{# field.errors #}
			{# field.help_text #}
			{# field #}
		{# endfor #}
		<!-- <input type="submit" name="submit" value="Create Category"> -->
		<button class="btn btn-primary" type="submit" name="submit">Add Category</button>
	</form>
{% endblock %}